{% extends 'base.html' %}
{% block content %}

<img id ="fond_info" src="{{ url_for('static', filename='fond_info.jpg') }}" >

<div id="register">
    <h2>Modification de votre mot de passe</h2>

    {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
        {% set messages = messages[:loop.index] + messages[loop.index+1:] %}
    {% endfor %}<br>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        Veuillez renseigner votre mot de passe avant de pouvoir le modifier s'il-vous-plaît.<br><br>
        <div class="content_login">
            <div class="form-group">
                {{ form.actual_password.label(class="form-label") }}
                {{ form.actual_password(class="form-input") }}
            </div>

            <div class="form-group">
                {{ form.new_password.label(class="form-label") }}
                {{ form.new_password(class="form-input") }}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-input") }}
            </div>
        </div><br>
        {{ form.submit(class='btn btn-primary') }}  
        </form>
    </div>
</div>

{% endblock %}
