{% extends 'base.html' %}
{% block content %}

<img id="fond_log"  src="{{ url_for('static', filename='fond_guest.jpg') }}">

<div id="login">

    <h1>Mot de passe oublié</h1><br>

    {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
        {% set messages = messages[:loop.index] + messages[loop.index+1:] %}
    {% endfor %}<br>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        Veuillez indiquer le nom du mariage et votre mail s'il-vous-plaît. Vous allez recevoir un code qu'il faudra ensuite renseigner sur la page dont l'url vous aura été envoyé par mail.<br><br>
        <div class="content_login">
            <div class="form-group">
                <label>Mariage</label>
                {{ form.mariage(class="form-input") }}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-input") }}
            </div>
        </div><br>

        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>

{% endblock %} 